.App {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
text-align: center;
padding: 15px;
color: chocolate;
background-size: cover;
font-family: 'Fredoka One', sans-serif;
}

.quotebox__author{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.bg1{
  background-image: url(/images/imag1.webp);
}
.bg2{
  background-image: url(/images/imag2.webp);
}
.bg3{
  background-image: url(/images/imag3.webp);
}
.bg4{
  background-image: url(/images/imag4.webp);
}
